.resumeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 3rem;
    
    @media only screen and (max-width: 48em) {
        margin-top: 0rem;
    }
}

.titleContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.resumeTitle {
    @media only screen and (max-width: 48em) {
        display: block;
    }
}

.resumeText {
    max-width: 52rem;
}

.desktopResumeImage {
    width: 20%;

    @media only screen and (max-width: 48em) {
        display: none;
    }
}

.mobileResumeImage {
    display: none;

    @media only screen and (max-width: 48em) {
        display: block;
        height: 12rem;
    }
}

.mobileBreak {
    display: none;
    @media only screen and (max-width: 48em) {
        display: block;
    }
}

.actionButton {
    background: black;
    color: white;
    height: 4rem;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: none;
    padding: 1rem 2rem;
}