.resumeSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  @media only screen and (max-width: 45em) {
    margin-top: 0rem;
  }
}

.titleContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.resumeText {
  max-width: 52rem;
}

.desktopResumeImage {
  width: 25%;
  max-width: 38rem;
  margin-right: -8rem;
}

.mobileResumeImage {
  height: 12rem;
}

.actionButton {
  display: inline-block;
  background: var(--uiPrimary);
  color: var(--bg);
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}
