.sectionTitle {
  margin: 0rem auto 4rem;
  text-align: center;
}

.sectionSubtitle {
  margin-top: 0rem;
}

.sectionBody {
  margin-top: 0rem;
}

.quoteBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 15rem;
}

.quoteText {
  background: linear-gradient(
    90deg,
    rgba(55, 0, 108, 1) 0%,
    rgba(187, 116, 79, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Caveat, cursive;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  padding: 0rem 1rem;
  margin-bottom: 1rem;
}

.quoteAuthor {
  text-align: center;
  width: 100%;
}
