.coming-soon {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
}