.logoText {
  display: inline;
  font-family: 'Sacramento', monospace;
  font-size: 4.8rem;
  font-weight: normal;
  background-clip: text; // to make the animated colors ofthe text
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;

  @media only screen and (max-width: 45em) {
    font-size: 3.2rem;
  }
}

.logoLink {
  text-decoration: none;
  color: black;
}
