.mobileHeader {
    display: none;

    @media only screen and (max-width: 48em) {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        top: 0;
        padding: 2rem 2.5rem;
        background: white;
        width: 100%;
        height: 5rem;
        z-index: 10;
    }
}

.mobileMenuItem {
    margin: 1rem 3rem 1rem 8rem;
    padding-right: 1rem;
    display: block;
    border-right: 3px solid transparent;

    &.active {
        border-right: 3px solid transparent;
        border-image: linear-gradient(to bottom, #37006c, #b04056);
        border-image-slice: 1;
    }
}
