.aboutSection {
  margin-top: -15rem;
}

.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;

  @media only screen and (max-width: 48em) {
    flex-direction: column;
  }
}

.aboutPicture {
  width: 23rem;
  height: 26rem;
  object-fit: cover;

  border: 7px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 10px 10px 15px var(--shadow);
  transform: rotate(-8.23deg);

  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */

  @media only screen and (max-width: 48em) {
    width: 20rem;
    height: 24rem;
    margin-bottom: 5rem;
  }
}

.aboutText {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 50rem;
  margin-left: 10rem;
  justify-content: center;

  @media only screen and (max-width: 48em) {
    width: 100%;
    margin-left: 0rem;
    text-align: center;
  }
}
