.contactSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 15rem;
  padding: 3rem;
  background-color: var(--bgOverlay);

  @media only screen and (max-width: 45em) {
    margin-top: 0rem;
  }
}

.contactText {
  margin-left: 5rem;
  max-width: 35.5rem;

  @media only screen and (max-width: 45em) {
    margin-left: 0;
  }
}

.contactButtonsSet {
  display: flex;
  justify-content: space-evenly;
}

.desktopContactImage {
  width: 25%;
  max-width: 30rem;
  margin-left: -2rem;
}

.contactButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: var(--uiPrimary);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.contactButtonIcon {
  color: var(--bgOverlay);
  width: 2.5rem;
  height: 2.5rem;
}

.fa-facebook-f {
  margin-left: -2px;
}
