.genericNavLink {
  text-decoration: none;
  font-size: 2.1rem;
}

.themeToggle {
  all: unset;
  transform-origin: top center;
  animation-name: colorAnimation;
  animation-duration: 1s;

  color: white;
  font-size: 3rem;
  width: 30px;
  height: 30px;
}

@keyframes colorAnimation {
  25% {
      transform: rotate(15deg);
  }
  40% {
      transform: rotate(-10deg);
  }
  60% {
          transform: rotate(5deg);
  }
  80% {
      transform: rotate(-5deg);
  }
  100% {
      transform: rotate(0deg);
  }
}