.genericNavLink {
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: none;
  font-size: 2.1rem;
  cursor: pointer;

  &.active {
    color: var(--textTertiary);
  }
}

@keyframes colorAnimation {
  25% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
