.vertical-timeline::before {
  background: linear-gradient(rgba(55, 0, 108, 1) 0%, rgba(187, 116, 79, 1));
  animation: gradient 18s ease infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.vertical-timeline-element-icon {
  box-shadow: 0 0 4px lightgrey;
}

.vertical-timeline-element-content {
  box-shadow: none;
}
